.pbl-sr {
  background: url("//my.imimg.com/gifs_new/alertIconNew.gif") no-repeat scroll left center #FFF8EC; border-bottom: 1px dotted #E6CCB3; 
  border-top: 1px dotted #E6CCB3;
  font-family: Trebuchet MS;
  margin: 30px auto 0;  
  padding: 8px 10px; 
}

.f2 {
  margin:0;
  width:100%!important;
  background:#fff;
  min-height:700px;
  margin-bottom:15px;
}

.f3 {
  background-position:0px -30px;
  height:120px;
  margin-left:18px; 
  margin-right:20px;
}

.security-msg {
  padding:25px 10px 0px 130px;
  font-weight:bold; 
  line-height:20px
}

.dn {
  display: none;
}