.s1{
    font-weight: 700;
}

#contact_count{
    display: inline-block;
    font-weight: 400;
    font-size: 11px;
}

#helpmsg{
    position:fixed;
    top: 50%;
    margin-top:-263px;
    z-index: 1001;
}

.overlay_s{
    display: none;
}

.heading{
    height: 100%;
    display: flex;
    flex-direction: rows;
    
}
/* .lbl_checkbox{
    margin-right:2px;
    position: inherit;
} */

/* #cb-unrd1{
    top: -7vh;
    position: relative;
    float: right;
    right: 13ex;
} */

#cs12{
    background: white;
}

#unread{
    font-size: 13px;
    background: white;
    margin: 3px 0px 0px 0px;
    color: #BBBBBB;
   
}
.f2{
    margin: 0 12px 0px 0px;
    margin-left: auto;
    height: fit-content;
    display: flex;
    
}